//border color
#border-green {
  border: solid 8px $color1;
  -webkit-animation: neonBorder1 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder1 1s ease-in-out infinite alternate;
  animation: neonBorder1 1s ease-in-out infinite alternate;
}
#border-red {
  border: solid 8px $color2;
  -webkit-animation: neonBorder2 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder2 1s ease-in-out infinite alternate;
  animation: neonBorder2 1s ease-in-out infinite alternate;
}
#border-yellow {
  border: solid 8px $color3;
  -webkit-animation: neonBorder3 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder3 1s ease-in-out infinite alternate;
  animation: neonBorder3 1s ease-in-out infinite alternate;
}
#border-blue {
  border: solid 8px $color4;
  -webkit-animation: neonBorder4 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder4 1s ease-in-out infinite alternate;
  animation: neonBorder4 1s ease-in-out infinite alternate;
}

//background-color for <li>s
#background-green {
  background-color: $color1;
  -webkit-animation: neon1 1s ease-in-out infinite alternate;
  -moz-animation: neon1 1s ease-in-out infinite alternate;
  animation: neon1 1s ease-in-out infinite alternate;
}
#background-red {
  background-color: $color2;
  -webkit-animation: neon2 1s ease-in-out infinite alternate;
  -moz-animation: neon2 1s ease-in-out infinite alternate;
  animation: neon2 1s ease-in-out infinite alternate;
}
#background-yellow {
  background-color: $color3;
  -webkit-animation: neon3 1s ease-in-out infinite alternate;
  -moz-animation: neon3 1s ease-in-out infinite alternate;
  animation: neon3 1s ease-in-out infinite alternate;
}
#background-blue {
  background-color: $color4;
  -webkit-animation: neon4 1s ease-in-out infinite alternate;
  -moz-animation: neon4 1s ease-in-out infinite alternate;
  animation: neon4 1s ease-in-out infinite alternate;
}

#accordion {
  // form {
  //   animation: accordion 1s;
  //   -webkit-animation: accordion 1s;
  //   -moz-animation: accordion 1s;
  //   transition: height;
  // }

  // position: relative;
  // height: 10rem;
  // overflow: hidden;
}
