@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-around() {
  @include flex-center();
  justify-content: space-around;
}

@mixin ul-normalize() {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}
