$background: #F6F6F6;
$border: #233746;
$font-color: #393d3f;
$font-family: monospace;
$light-color: #F6F6F6;
$dark-color: #070707;
$dark-accent: #1E1E24;


$color1: #00CD36;

$color2: #FF1177;

$color3: #FFDD1B;

$color4: #228DFF;
