.landing-form {
  @include flex-space-around;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.h2-landing {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 100;
}

.input-landing {
  width: 100%;
  max-width: 14rem;
  height: 2rem;
  padding-left: 5px;
  outline: none;
  border: none;
  font-size: 12px;
  color: $font-color;
}

.cancel-landing-btn {
  height: 0rem;
  color: $dark-color;
}
