.landing-component {
  @include flex-center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.landing-li {
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
  border: none;
  border-radius: 0;
  .inner-square {
    border-radius: 0;
  }
}

.landing-inner {
  @include flex-center;
  font-size: 2rem;
  &:hover {
    .landing-li {
      width: 49.6%;
    }
  }
}

.landing-inner.greenDiv {
  &:hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
}
.landing-inner.redDiv {
  &:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
}
.landing-inner.yellowDiv {
  &:hover {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
}
.landing-inner.blueDiv {
  &:hover {
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
}

.h1-landing {
  @include flex-center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: 100;
  font-size: 2rem;
  color: $dark-accent;
  &:hover {
    color: #FFF;
  }
}

.cancel-landing-container {
  justify-content: flex-end;
}
