.landing-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}


.landing-li {
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
  border: none;
  border-radius: 0;
  .inner-square {
    border-radius: 0;
    // width: 50%;
  }
}

.landing-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
    // -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    // -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    // animation: neon1 1.5s ease-in-out infinite alternate;
    .landing-li {
      width: 49.6%;
    }
  }
}

.landing-inner.greenDiv {
  &:hover {
    cursor: pointer;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
}
.landing-inner.redDiv {
  &:hover {
    cursor: pointer;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
}
.landing-inner.yellowDiv {
  &:hover {
    cursor: pointer;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
}
.landing-inner.blueDiv {
  &:hover {
    cursor: pointer;
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
}
