@import '_variables.scss';
@import '_mixins.scss';
@import '_animation_keyframes.scss';
@import '_animation_IDs.scss';
@import 'Nav.scss';
@import 'GameBoard.scss';
@import 'StartButton.scss';
@import 'ScoreBoard.scss';
@import 'Modal.scss';
@import 'ModalHeader.scss';
@import 'InputForms.scss';

//make landing last
@import 'Landing.scss';


body {
  background: $background;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.3;
}

#container {
  padding: 3px;
  background: $dark-color;
}

.btn {
  &:hover {
    cursor: pointer;
  }
}
