@import '_variables.scss';
@import '_neon_keyframes.scss';
@import '_animation_IDs.scss';
@import 'Nav.scss';
@import 'GameBoard.scss';
@import 'StartButton.scss';
@import 'ScoreBoard.scss';

//make landing last
@import 'Landing.scss';


body {
  background: $background;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $font-color;
}

#container {
  padding: 5px;
  background: black;
}
