@import '_variables.scss';
@import '_mixins.scss';
@import '_animation_keyframes.scss';
@import '_animation_IDs.scss';
@import 'Nav.scss';
@import 'GameBoard.scss';
@import 'StartButton.scss';
@import 'ScoreBoard.scss';
@import 'Modal.scss';
@import 'ModalHeader.scss';
@import 'InputForms.scss';
@import 'LeaderBoard.scss';
@import 'ImgUploader.scss';
@import 'WelcomeMessage.scss';
@import '_GreetSession.scss';

//make landing last
@import 'Landing.scss';


body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.3;
}

#container {
  background: #000;
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

.btn-border {
  border: solid 1px transparent;
  &:hover {
    // border: solid 1px $font-color;
    border: solid 1px #393D3F;
    border-radius: 2px;
  }
}

.hidden {
  display: none;
}
