.nav-component {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
}

.session-nav-component {
  width: 30%;
}

.nav-ul {
  @include flex-space-around;
  padding: 0;
  margin: 0;
  width: 70%;
  color: $light-color;
}

.nav-li {
  list-style-type: none;
  border-bottom: solid 2px $dark-color;
  padding: 5px 0;
  &:hover {
    cursor: pointer;
    border-bottom: solid 2px $light-color;
  }
}

.bars-icon {
  font-size: 2rem;
  color: $light-color;
}
.nav-session {
  width: 100%;
}
