.nav-component {
  @include flex-space-around;
}

.nav-ul {
  position: relative;
  right: 12px;
  @include flex-center;
  width: 100%;
  padding: 0;
  color: $light-color;
}

.nav-li, .bars-icon {
  list-style-type: none;
  border-bottom: solid 2px transparent;
  padding: 5px 0;
  &:hover {
    border-bottom: solid 2px $light-color;
  }
}

.nav-li {
  margin: 0 30px;
}

.bars-icon-container {
  margin-right: 10px;
}

.bars-icon {
  color: $light-color;
}
