.nav-component {
  @include flex-center;
  justify-content: flex-start;
  width: 100%;
  height: 3rem;
}

.session-nav-component {
  width: 30%;
}

.nav-ul {
  @include flex-space-around;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 50%;
  color: $light-color;
}

.nav-li {
  list-style-type: none;
  border-bottom: solid 2px $dark-color;
  padding: 5px 0;
  &:hover {
    cursor: pointer;
    border-bottom: solid 2px $light-color;
  }
}

// .icon-container {
//   @include flex-center;
//   justify-content: flex-start;
//   width: 50%;
// }

.bars-icon {
  width: 14px;
  color: $light-color;
  // padding-left: 10px;
}

.nav-session {
  width: 100%;
}
