.scoreboard-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 15rem;
  margin: 1rem auto;
  border: dashed 2px $light-color;
  color: $light-color;
}

.h2-level {
  margin: 0;
}
