.start-btn-component {
  @include flex-center;
  z-index: 1;
  position: relative;
  // top: -21rem;
  right: 0;
  bottom: 22rem;
  left: 0;
  height: 11rem;
  width: 11rem;
  margin: 0;
  border-radius: 50%;
  border: solid $dark-accent 1px;
  color: #FFF;
  // background-color: $dark-accent;
  background-color: #000;
  font-family: $font-family;
  font-size: 11px;

}

#startGame {
  &:hover {
    -webkit-animation: startBtn 1s ease-in-out infinite alternate;
    -moz-animation: startBtn 1s ease-in-out infinite alternate;
    animation: startBtn 1s ease-in-out infinite alternate;
  }
}

.prompt {
  margin: 0;
  text-align: center;
}
