.welcome-message-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include flex-center;
}

.welcome-message-content {
  z-index: 2;
  @include flex-center;
  width: 90%;
  height: 90%;
  border-radius: 3px;
  background-color: rgba($dark-color, .8);
  box-sizing: border-box;
}

.message-content-container {
  @include flex-center;
  flex-direction: column;
  width: 30%;
  p {
    margin: 0;
    color: $light-color;
    font-size: 2rem;
  }
}

.spanNeon1 {
  -webkit-animation: textNeon1 1s ease-in-out infinite alternate;
  -moz-animation: textNeon1 1s ease-in-out infinite alternate;
  animation: textNeon1 1s ease-in-out infinite alternate;
}
.spanNeon2 {
  -webkit-animation: textNeon2 1s ease-in-out infinite alternate;
  -moz-animation: textNeon2 1s ease-in-out infinite alternate;
  animation: textNeon2 1s ease-in-out infinite alternate;
}
.spanNeon3 {
  -webkit-animation: textNeon3 1s ease-in-out infinite alternate;
  -moz-animation: textNeon3 1s ease-in-out infinite alternate;
  animation: textNeon3 1s ease-in-out infinite alternate;
}
.spanNeon4 {
  -webkit-animation: textNeon4 1s ease-in-out infinite alternate;
  -moz-animation: textNeon4 1s ease-in-out infinite alternate;
  animation: textNeon4 1s ease-in-out infinite alternate;
}
