@-webkit-keyframes textNeon1 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #00CD36, 0 0 70px #00CD36, 0 0 80px #00CD36, 0 0 100px #00CD36, 0 0 150px #00CD36; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00CD36, 0 0 35px #00CD36, 0 0 40px #00CD36, 0 0 50px #00CD36, 0 0 75px #00CD36; } }
@-webkit-keyframes textNeon2 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177; } }
@-webkit-keyframes textNeon3 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }
@-webkit-keyframes textNeon4 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
/*glow for mozilla*/
@-moz-keyframes textNeon1 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #00CD36, 0 0 70px #00CD36, 0 0 80px #00CD36, 0 0 100px #00CD36, 0 0 150px #00CD36; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00CD36, 0 0 35px #00CD36, 0 0 40px #00CD36, 0 0 50px #00CD36, 0 0 75px #00CD36; } }
@-moz-keyframes textNeon2 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177; } }
@-moz-keyframes textNeon3 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }
@-moz-keyframes textNeon4 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
/*glow*/
@keyframes textNeon1 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #00CD36, 0 0 70px #00CD36, 0 0 80px #00CD36, 0 0 100px #00CD36, 0 0 150px #00CD36; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00CD36, 0 0 35px #00CD36, 0 0 40px #00CD36, 0 0 50px #00CD36, 0 0 75px #00CD36; } }
@keyframes textNeon2 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177; } }
@keyframes textNeon3 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }
@keyframes textNeon4 {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #00CD36, 0 0 70px #00CD36, 0 0 80px #00CD36, 0 0 100px #00CD36, 0 0 150px #00CD36; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00CD36, 0 0 35px #00CD36, 0 0 40px #00CD36, 0 0 50px #00CD36, 0 0 75px #00CD36; } }
@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177; } }
@-webkit-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }
@-webkit-keyframes neon4 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #00CD36, 0 0 70px #00CD36, 0 0 80px #00CD36, 0 0 100px #00CD36, 0 0 150px #00CD36; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00CD36, 0 0 35px #00CD36, 0 0 40px #00CD36, 0 0 50px #00CD36, 0 0 75px #00CD36; } }
@-moz-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177; } }
@-moz-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }
@-moz-keyframes neon4 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
/*glow*/
@keyframes neon1 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #00CD36, 0 0 70px #00CD36, 0 0 80px #00CD36, 0 0 100px #00CD36, 0 0 150px #00CD36; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00CD36, 0 0 35px #00CD36, 0 0 40px #00CD36, 0 0 50px #00CD36, 0 0 75px #00CD36; } }
@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177; } }
@keyframes neon3 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }
@keyframes neon4 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
@keyframes neonBorder1 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF inset, 0 0 40px #00CD36, 0 0 70px #00CD36, 0 0 80px #00CD36, 0 0 100px #00CD36, 0 0 150px #00CD36 inset; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF inset, 0 0 20px #00CD36, 0 0 35px #00CD36, 0 0 40px #00CD36, 0 0 50px #00CD36, 0 0 75px #00CD36 inset; } }
@keyframes neonBorder2 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF inset, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177 inset; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF inset, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177 inset; } }
@keyframes neonBorder3 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF inset, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B inset; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF inset, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B inset; } }
@keyframes neonBorder4 {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF inset, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF inset; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF inset, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF inset; } }
@keyframes showModal {
  from {
    left: -100%; }
  to {
    left: 0; } }
@keyframes startBtn {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #000, 0 0 70px #000, 0 0 80px #000, 0 0 100px #000, 0 0 150px #000; }
  to {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #000, 0 0 35px #000, 0 0 40px #000, 0 0 50px #000, 0 0 75px #000; } }
#border-green {
  border: solid 8px #00CD36;
  -webkit-animation: neonBorder1 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder1 1s ease-in-out infinite alternate;
  animation: neonBorder1 1s ease-in-out infinite alternate; }

#border-red {
  border: solid 8px #FF1177;
  -webkit-animation: neonBorder2 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder2 1s ease-in-out infinite alternate;
  animation: neonBorder2 1s ease-in-out infinite alternate; }

#border-yellow {
  border: solid 8px #FFDD1B;
  -webkit-animation: neonBorder3 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder3 1s ease-in-out infinite alternate;
  animation: neonBorder3 1s ease-in-out infinite alternate; }

#border-blue {
  border: solid 8px #228DFF;
  -webkit-animation: neonBorder4 1s ease-in-out infinite alternate;
  -moz-animation: neonBorder4 1s ease-in-out infinite alternate;
  animation: neonBorder4 1s ease-in-out infinite alternate; }

#background-green {
  background-color: #00CD36;
  -webkit-animation: neon1 1s ease-in-out infinite alternate;
  -moz-animation: neon1 1s ease-in-out infinite alternate;
  animation: neon1 1s ease-in-out infinite alternate; }

#background-red {
  background-color: #FF1177;
  -webkit-animation: neon2 1s ease-in-out infinite alternate;
  -moz-animation: neon2 1s ease-in-out infinite alternate;
  animation: neon2 1s ease-in-out infinite alternate; }

#background-yellow {
  background-color: #FFDD1B;
  -webkit-animation: neon3 1s ease-in-out infinite alternate;
  -moz-animation: neon3 1s ease-in-out infinite alternate;
  animation: neon3 1s ease-in-out infinite alternate; }

#background-blue {
  background-color: #228DFF;
  -webkit-animation: neon4 1s ease-in-out infinite alternate;
  -moz-animation: neon4 1s ease-in-out infinite alternate;
  animation: neon4 1s ease-in-out infinite alternate; }

.nav-component {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 3rem; }

.nav-ul {
  position: relative;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  color: #F6F6F6; }

.nav-li, .bars-icon {
  list-style-type: none;
  border-bottom: solid 2px transparent;
  padding: 5px 0; }
  .nav-li:hover, .bars-icon:hover {
    border-bottom: solid 2px #F6F6F6; }

.nav-li {
  margin: 0 30px; }

.bars-icon-container {
  margin-right: 10px; }

.bars-icon {
  color: #F6F6F6; }

.gameboard-component {
  background-color: #000;
  border: solid 8px transparent;
  border-radius: 3px; }

.gameboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 42rem; }

.gameboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  width: 40rem; }

.outer-square {
  height: 17rem;
  width: 17rem;
  list-style-type: none;
  box-sizing: border-box; }
  .outer-square:hover {
    z-index: 1;
    cursor: pointer;
    border: none; }

.inner-square {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.red {
  border-top-right-radius: 100%;
  border-top: solid #1E1E24 2px;
  border-right: solid #1E1E24 2px;
  border-left: solid #1E1E24 1px;
  border-bottom: solid #1E1E24 1px; }
  .red .redDiv {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    background-color: rgba(255, 17, 119, 0.8);
    border-top-right-radius: 100%; }
    .red .redDiv:hover {
      background-color: #FF1177; }

.green {
  border-top-left-radius: 100%;
  border-top: solid #1E1E24 2px;
  border-left: solid #1E1E24 2px;
  border-right: solid #1E1E24 1px;
  border-bottom: solid #1E1E24 1px; }
  .green .greenDiv {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    background-color: rgba(0, 205, 54, 0.8);
    border-top-left-radius: 100%; }
    .green .greenDiv:hover {
      background-color: #00CD36; }

.yellow {
  border-bottom-left-radius: 100%;
  border-top: solid #1E1E24 1px;
  border-right: solid #1E1E24 1px;
  border-left: solid #1E1E24 2px;
  border-bottom: solid #1E1E24 2px; }
  .yellow .yellowDiv {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    background-color: rgba(255, 221, 27, 0.8);
    border-bottom-left-radius: 100%; }
    .yellow .yellowDiv:hover {
      background-color: #FFDD1B; }

.blue, #blue {
  border-bottom-right-radius: 100%;
  border-top: solid #1E1E24 1px;
  border-right: solid #1E1E24 2px;
  border-left: solid #1E1E24 1px;
  border-bottom: solid #1E1E24 2px; }
  .blue .blueDiv, #blue .blueDiv {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    background-color: rgba(34, 141, 255, 0.8);
    border-bottom-right-radius: 100%; }
    .blue .blueDiv:hover, #blue .blueDiv:hover {
      background-color: #228DFF; }

.start-btn-component {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  top: -20rem;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  border-radius: 50%;
  color: #FFF;
  background-color: #1E1E24;
  font-family: monospace;
  font-size: 11px; }

#startGame:hover {
  -webkit-animation: startBtn 1s ease-in-out infinite alternate;
  -moz-animation: startBtn 1s ease-in-out infinite alternate;
  animation: startBtn 1s ease-in-out infinite alternate; }

.scoreboard-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 5rem;
  width: 15rem;
  margin: 1rem auto;
  border: dashed 2px #F6F6F6;
  color: #F6F6F6; }

.h2-level {
  margin: 0;
  font-weight: 300; }

.h5-hits {
  margin: .4rem 0 0 0;
  text-align: center;
  font-weight: 100; }

.modal-component {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(7, 7, 7, 0.5); }

.modal-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background: #F6F6F6;
  width: 20rem;
  max-width: 25rem;
  height: 100%;
  color: #070707;
  -webkit-animation: showModal 1s ease-in-out;
  -moz-animation: showModal 1s ease-in-out;
  animation: showModal 1s ease-in-out; }

.modal-content-container, .session-form {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 100%; }

.session-form {
  width: 85%; }
  .session-form input {
    width: 100%;
    height: 2rem;
    padding-left: 10px;
    outline: none;
    border: none;
    background: #F6F6F6;
    background: white; }

.cancel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%; }

.header-title {
  width: 60%;
  margin: 10px 0 0 0;
  color: #393d3f;
  font-weight: 100;
  text-align: right; }

.cancel-btn {
  padding: 10px;
  background: none;
  outline: none;
  border: none;
  color: grey; }

.modal-ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden; }
  .modal-ul li {
    list-style-type: none; }

.modal-li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 1rem;
  width: 90%;
  color: #F6F6F6;
  background: #393d3f;
  border-top: solid 1px #F6F6F6;
  font-weight: 100; }
  .modal-li:hover {
    background: rgba(57, 61, 63, 0.7); }

.session-modal-li {
  flex-direction: column;
  padding: 0;
  width: 100%; }

.modal-p {
  width: 90%;
  height: 100%;
  padding: 1rem;
  margin: 0;
  font-weight: 100; }

.how-to-p {
  width: 102px;
  padding: 1rem 0px 2px 0rem;
  margin: 0 0 10px 1rem;
  font-weight: bold;
  border-bottom: solid 1px;
  color: #393d3f;
  text-align: center; }

.session-form {
  height: 10rem; }

.submit-btn {
  border: none;
  background: #070707;
  color: #F6F6F6;
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 2px; }
  .submit-btn:hover {
    transition: .5s;
    color: #070707;
    background: #F6F6F6; }

.ol-directions {
  margin: 0;
  color: #393d3f; }

.li-directions {
  color: #393d3f;
  list-style-type: decimal !important; }

.modal-header-component {
  width: 100%; }

.greeting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  justify-content: flex-start;
  width: 90%;
  margin: 0 0 1rem 1rem;
  overflow: hidden; }

.profile-pic {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-size: contain;
  margin: 0; }

.greeting {
  margin: 0 0 1rem 1rem; }

.landing-form {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  width: 75%;
  height: 95%; }

.h2-landing {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 100; }

.input-landing {
  width: 100%;
  max-width: 14rem;
  height: 2rem;
  padding-left: 5px;
  outline: none;
  border: none;
  font-size: 12px;
  color: #393d3f; }

.cancel-landing {
  color: #393d3f; }

.cancel-landing-container {
  height: 1rem; }

.score-table {
  width: 80%;
  padding: 3rem 0;
  margin: 0rem auto;
  text-align: center;
  color: #F6F6F6;
  font-size: 1rem;
  font-weight: 100; }

.player-row {
  height: 4rem; }

.player-row td {
  width: 10%; }

.player-row td:last-child {
  width: 10%;
  font-size: 12px; }

th {
  font-weight: 100;
  text-decoration: underline;
  font-size: 25px; }

.th-1 {
  -webkit-animation: textNeon1 1s ease-in-out infinite alternate;
  -moz-animation: textNeon1 1s ease-in-out infinite alternate;
  animation: textNeon1 1s ease-in-out infinite alternate; }

.th-2 {
  -webkit-animation: textNeon2 1s ease-in-out infinite alternate;
  -moz-animation: textNeon2 1s ease-in-out infinite alternate;
  animation: textNeon2 1s ease-in-out infinite alternate; }

.th-3 {
  -webkit-animation: textNeon3 1s ease-in-out infinite alternate;
  -moz-animation: textNeon3 1s ease-in-out infinite alternate;
  animation: textNeon3 1s ease-in-out infinite alternate; }

.th-4 {
  -webkit-animation: textNeon4 1s ease-in-out infinite alternate;
  -moz-animation: textNeon4 1s ease-in-out infinite alternate;
  animation: textNeon4 1s ease-in-out infinite alternate; }

@media (min-width: 900px) {
  .score-table {
    padding: 2rem;
    padding-bottom: 0; } }
.rank {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 10%; }

.player-name {
  display: inline-flex;
  width: 30%;
  margin: 0;
  align-items: center;
  justify-content: flex-start; }

.landing-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0; }

.landing-li {
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
  border: none;
  border-radius: 0; }
  .landing-li .inner-square {
    border-radius: 0; }

.landing-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; }
  .landing-inner:hover .landing-li {
    width: 49.6%; }

.landing-inner.greenDiv:hover {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; }

.landing-inner.redDiv:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate; }

.landing-inner.yellowDiv:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate; }

.landing-inner.blueDiv:hover {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate; }

.h1-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 100;
  font-size: 2rem;
  margin: 0; }

.cancel-landing-container {
  justify-content: flex-end; }

body {
  background: #070707;
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #393d3f;
  line-height: 1.3; }

#container {
  padding: 3px;
  background: #070707; }

.btn:hover {
  cursor: pointer; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
